@model MyFamilyDashboard.Data.TodoListDataModel

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var todoDate = Model.DueDate.GetValueOrDefault().ToString("yyyy-MM-dd");
}
@section JavaScript
    {
    <script type="text/javascript" src="@Url.Content("~/js/ListManagement.js")"></script>
}
@section Styles {
    <link href="@Url.Content("~/css/ListManagement.css")" rel="stylesheet" type="text/css" />
}

<h1>View</h1>

<h4>TodoListDataModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="View">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <label asp-for="DueDate" class="control-label"></label>
                <input type="date" name="DueDate" value=@todoDate>
                
                <partial name="_TodoItems" />
                
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

